.news-api {
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px); /* Ensure the content does not exceed the viewport height */
    background-color: white;
    overflow-y: auto; /* Add vertical scroll bar if content overflows */
    word-wrap: break-word; /* Ensure long words break and wrap inside the div */
    position: relative; /* Ensure the fixed header is positioned relative to this div */
}

.fixed-header {
    position: sticky; /* Use sticky positioning */
    top: 0;
    width: 100%;
    background-color: #fff; /* Background color */
    z-index: 1000; /* Ensure it stays on top */
    padding: 10px 0; /* Padding for spacing */
 
    text-align: center; /* Center the text */
}

.defaultstyle {
    width: 18rem;
    height: 25rem;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}